[submodule "dex/dex"]
	path = dex/dex
	url = https://github.com/dexidp/dex.git
[submodule "gitops-backend/gitops-backend"]
	path = gitops-backend/gitops-backend
	url = https://github.com/redhat-developer/gitops-backend.git
[submodule "gitops-operator/gitops-operator"]
	path = gitops-operator/gitops-operator
	url = https://github.com/redhat-developer/gitops-operator.git
[submodule "gitops-must-gather/gitops-must-gather"]
	path = gitops-must-gather/gitops-must-gather
	url = https://github.com/redhat-developer/gitops-must-gather.git
